/* COLOR VARIABLES */
$main-color: hsl(230, 17%, 14%);
$article-color: hsl(228, 28%, 20%);
$text-color: hsl(228, 34%, 66%);
$just-white: white;
$green-number: #1db489;
$red-number: #dc414c;

/* FONT STYLE */
$letter-style: "Inter", sans-serif;

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: $letter-style;
}
body {
    background-color: $main-color;
}
 header {
    margin: 20px;
} 
.header__social {
    width: 80%;
    height: 100px;
    margin-top: 40px;
}
.header__social h1 {
    width: 200px;
    font-size: 2.69rem;
    font-weight: 700;
    color: $just-white;
    margin-bottom: 5px;
}
.header__social p {
    width: 200px;
    font-size: 1.4rem;
    font-weight: 700;
    color: $text-color;
}
.hr__line {
    border-top: 1px solid $text-color;
}
.header__button {
    width: 100%;
    height: 80px;
    @extend .center;
}
.header__button p {
    width: 50%;
    height: 30px;
    font-size: 1.4rem;
    font-weight: 700;
    color: $text-color;
}
.header__button button {
    width: 50%;
    height: 30px;
}
/* Diseño de las cajas */
.box__content {
    width: 100%;
    /* height: auto; */
    /* @extend .center;
    flex-wrap: wrap; */
    /* grid-gap: 1rem; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
    place-items: center center;
    gap: 20px;
}

/* Estructura general del diseño de las cajas */
.box__content--article {
    width: 272px;
    background-color: $article-color;
    border-top: 5px solid hsl(210, 78%, 56%);
    margin-bottom: 30px;
    border-radius: 5px;
    @extend .center;
    flex-direction:column;
}
.box__article--top {
    @extend .center;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.6rem;
    color: $text-color;
}
.box__article--top figure {
    margin-right: 5px;
}
.box__article--top figure img{
    width: 25px;
    height: 25px;
} 
.box__article--medium {
    @extend .center;
    flex-direction: column;
    margin-bottom: 20px;
}
.box__article--medium .date {
    font-size: 6.0rem;
    font-weight: 700;
    color: $just-white;
}
.box__article--medium .followers {
    font-size: 1.2rem;
    letter-spacing: 5px;
    color: $text-color;
    text-transform: uppercase;
    margin-top: 5px;
}
.box__article--bottom {
    @extend .center;
    flex-direction: row;
    color: $green-number;
    margin-bottom: 20px;
}
.box__article--bottom figure {
    @extend .center;
}
.box__article--bottom figure img{
    width: 5px;
    height: 5px;
    margin-right: 5px;
}
.box__article--bottom  p {
    font-size: 1.2rem;
    font-weight: bold;
}
#top-color-2 {
    border-top: 5px solid #1ca0f2;
}
#top-color-3{
    
}
#top-color-4 {
    border-top: 5px solid #c4032a;
    
}
#today-red {
    color: #c4032a;
}

/* Diseño de los overview today */
.overview--content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
    place-items: center center;
    gap: 20px;
}
.overview__title {
    margin: 30px 0; 
    padding-left: 20px;
    color: $just-white;
    align-self: flex-start;
    font-size: 2.5rem;
    font-weight: bold;
    color: $text-color;
}
.over-articles {
    width: 272px;
    height: 140px;
    margin: 10px 10px;
    @extend .center;
    background-color: $article-color;
    border-radius: 5%;
}
.over__article--topcontent {
    width: 272px;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    left: 25px;
}
.over__article--topcontent p {
    font-size: 1.4rem;
    font-weight: bold;
    color: $text-color;
}
.over__article--topcontent figure img{
    width: 30px;
    height: 30px;
    position: relative;
    left: -50px;
}
.over__article--downcontent {
    width: 272px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.over__article--downcontent  .number {
    font-size: 2.8rem;
    font-weight: bold;
    color: $just-white;
    position: relative;
    left: -25px; 
}
.percent {
    font-size: 1.4rem;
    font-weight: bold;
    color: $green-number;
}
#percent-red {
    color: $red-number;
}
.over__article--downcontent div{
    width: 40px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: -20px;
}
.over__article--downcontent div figure img{
    width: 8px;
    height: 5px;
    margin-right: 3px;
}

/* Make responsive website with media queries*/
@media screen and (min-width: 992px) {
    body {
        width: 80%;
        margin: 0 auto;
    }
    .overview__title  {
        padding-left: 0;
    }
}